<div class="page-header">
  <h3>Constructive Critisism for Local Businesses</h3>
  <h5>Help your community improve with your valuable imput</h5>
  <h5>Add your Krit and vote on others</h5>


</div>

<p class="new_post">
<%= link_to "Post a New Krit", new_status_path, class: "btn btn-info" %>
</p>
<% @statuses.each do |status| %>
<div class="status">
  <strong>business name</strong>
  
  <p><strong><%= pluralize status.reputation_for(:votes).to_i, "vote" %></strong> |
    <%= link_to "up", vote_status_path(status, type: "up"), method: "post", class: "btn btn-success" %> |
    <%= link_to "down", vote_status_path(status, type: "down"), method: "post", class: "btn btn-danger" %> |
  <%= status.content %></p>


    <div ="meta">
      <%= status.user.profile_name %>:
      <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
      <span class="admin">
        | <%= link_to "Edit", edit_status_path(status) %> |
        <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
      </span>
    </div> 

</div>
<% end %>