<div class="page-header">
  <h3>Constructive Kritisism for Local Businesses</h3>
   
 <div class="page-header">
  <div class="indexSubHeader" >
    <h5>By posting krits and casting votes you will make a huge impact on your comminity</h5>
    <h5><%= link_to "Log in to cast Vote", new_user_session_path %></h5>
    </div>
</div>

<p class="new_post">
<%= link_to "Post a New Krit", new_status_path, class: "btn btn-inverse" %><br>
</p>
<% @statuses.each do |status| %>
<div class="status">
  <%= status.content %>
  
  <p>
    <strong>
      <%= pluralize status.reputation_for(:votes).to_i, "vote" %>
    </strong> |

    <%= link_to "up", vote_status_path(status, type: "up"), method: "post", class: "btn btn-success" %> |
    <%= link_to "down", vote_status_path(status, type: "down"), method: "post", class: "btn btn-danger" %> |
    
    krit for:<strong><%= status.business_name != nil ? status.business_name : "business not specified" %></strong> 
  </p>


    <div ="meta">
      <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
      <span class="admin">
        | <%= link_to "Edit", edit_status_path(status) %> |
        <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
      </span>
    </div> 

</div>
<% end %>