<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @status.content %>
</p>

<%=link_to image_tag('thumbs_up', :border => 0), vote_for_article_status_path(@status), :remote => true %>
<%=link_to image_tag('thumbs_down', :border => 0), vote_against_article_status_path(@status), :remote => true %>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
